@use "../parts/forwards" as fw

.wrapper
  background-color: f0f0dc
  h2
    padding: 60px 0 40px
    text-align: center
    font-size: 2rem
  .data-wrapper
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    gap: 30px
// .read-more-links
//   position: absolute
//   top: 0
//   left: 0
