@use "../forwards" as fw
@use '../media-query' as *

.order-list
  .cart-title-wrapper
    position: fixed
    top: 55px
    right: 0
    width: 20%
    // height: 130px
    // padding-top: 0px
    font-family: fw.$noto-rm
    z-index: fw.get_index(cart-title-wrapper)
    .cart-title
      display: block
      position: fixed
      bottom: 123px
      right: 95px
      width: 20px
      height: 20px
      margin: 600px auto 0
      font-size: 1.1rem
      line-height: 1em
      font-weight: 700
      z-index: fw.get_index(cart-title)
      &::before
        +fw.fontAwesome("\f022", 30px)
        position: absolute
        top: 50%
        transform: translateY(-40%)
        left: -8px
        color: fw.$gold
      .title
        +fw.positionAbsoluteCTL($top: true)
        left: -50px
        font-size: 1.15rem
        font-weight: 500
        color: #777
      .open-shut
        +fw.positionAbsoluteCTL($top: true)
        right: -60px
        width: 3rem
        font-size: 1.15rem
        font-weight: 500
        color: #777
        white-space: nowrap
        // display: grid
        // place-content: center
        // position: absolute
        // top: -.5rem
        // right: -.7rem
        // content: ""
        // width: .9rem
        // height: .9rem
        // font-size: .7rem
        // color: #fff
        // background-color: red
        // border-radius: 50%
    .ami
      position: fixed
      bottom: 110px
      right: 0
      width: 220px
      height: 44px
      background-color: #fff
      border: 1px solid #333
      border-radius: 999px 0 0 999px
      box-shadow: 0 2px 3px rgba(0, 0, 0, .3)
      opacity: .9
      z-index: fw.get_index(ami)

  +max(md)
    .cart-title-wrapper
      top: unset
      bottom: 55px
      right: 25px
      .cart-title
        margin: 0
        &::before
          left: 20px
        .title
          left: -20px
        .open-shut
          right: -85px
      .ami
        top: -10px
        left: -30px
        width: 130px