@use "../forwards" as fw
@use '../media-query' as *

.order-list
  position: fixed
  top: 145px
  left: 0
  width: 100%
  z-index: 150
  .cart-title-wrapper
    position: absolute
    top: 0
    right: 0px
    width: 220px
    height: 40px
    font-family: fw.$noto-rm
    background-color: rgba(255, 255, 255, .8)
    border: 1px solid #333
    border-top-left-radius: 999px
    border-bottom-left-radius: 999px
    z-index: fw.get_index(cart-title-wrapper)
    .cart-title
      +fw.positionAbsoluteCTL()
      right: 95px
      width: 20px
      height: 20px
      font-size: 1.1rem
      line-height: 1em
      font-weight: 700
      z-index: fw.get_index(cart-title)
      &::before
        +fw.fontAwesome("\f022", 30px)
        position: absolute
        top: 50%
        transform: translateY(-40%)
        left: -8px
        color: fw.$gold
      .title
        +fw.positionAbsoluteCTL($top: true)
        left: -50px
        font-size: 1.15rem
        font-weight: 500
        color: #777
      .open-shut
        +fw.positionAbsoluteCTL($top: true)
        right: -60px
        width: 3rem
        font-size: 1.15rem
        font-weight: 500
        color: #777
        white-space: nowrap   
  +max(md)
    .cart-title-wrapper
      top: unset
      bottom: 55px
      right: 25px
      .cart-title
        margin: 0
        &::before
          left: 20px
        .title
          left: -20px
        .open-shut
          right: -85px
