@use "../forwards" as fw
@use '../media-query' as *


// form.org-form
.form
  margin: 0 auto
  width: min(600px, 100%)
  .input-wrapper
    position: relative
    margin-bottom: 50px
    font-size: 14px
    color: #777
    > .note
      position: absolute
      top: -1.8rem
      left: 6rem
    > div
      display: flex
      align-items: center
      gap: 1em
      + div
        margin-top: 30px
      label
        position: relative
        width: 6rem
        font-size: 1rem
        line-height: 1.75em
        text-align: left
        color: #777
        > .note
          position: absolute
          top: -1.75rem
          left: 6rem
          font-size: .8rem
          white-space: nowrap
        &.required
          > span.required
            position: relative
            &::after
              position: absolute
              top: 0
              right: -.7rem
              content: "※"
              font-size: .5rem
        .error-msg
          position: absolute
          top: 1.5rem
          left: 7.25rem
          width: 100%
          font-size: .85rem
          line-height: 1
          white-space: nowrap
          color: red
          background-color: unset
          border: unset
      input, textarea, div, select
        width: 100%
        padding: .5em 1em
        line-height: 1.5
        background-color: #fff
        border: 1px solid #aaa
        white-space: normal
      textarea
        height: 10rem
      input::placeholder, textarea::placeholder
        color: #777-middle
    .with-note-container
      position: relative
      margin-top: 40px
      > label
        > .note
          position: absolute
          top: -1.8rem
          left: 6rem
  .privacy-policy
    display: flex
    flex-direction: column
    gap: 20px
    margin-bottom: 40px
    width: 100%
    font-size: .8rem
    line-height: 1em
    text-align: center
    .privacy-policy-anchor
      display: flex
      align-items: center
      width: fit-content
      margin: 0 auto
      padding: 2px 8px
      font-size: .75rem
      line-height: 1
      color: #fff
      background-color: #333
      border-radius: 2px
      span
        font-size: .5rem
    .check-box
      position: relative
      display: flex
      align-items: center
      margin: 0 auto
      input[type="checkbox"] 
        position: relative
        margin-right: 5px
        width: .8rem
        height: .8rem
        border: 1px solid #000
      input[type="checkbox"]:checked:before 
        position: absolute
        top: 0px
        left: 4px
        transform: rotate(50deg)
        width: 5px
        height: 10px
        border-right: 2px solid #000
        border-bottom: 2px solid #000
        content: ''
      .error-msg
        +fw.positionAbsoluteCTL($left: true)
        top: 1.5rem
        white-space: nowrap
        color: red
  .send-buttons
    display: flex
    justify-content: space-between
    gap: 30px
    .send-btn
      width: 100%
      .note
        margin-top: 10px
        font-size: 0.95rem
        line-height: 1.5em
        text-align: justify
  .input-reset-btn, .input-print-btn, .input-mail-btn
    display: grid
    place-content: center
    width: 100%
    padding: 11px 0
    font-family: fw.$noto-rm
    font-size: 1.1rem
    font-weight: 500
    white-space: nowrap
    color: #333
    background-color: #fff
    border: 1px solid #333
    transform: translateY(2px)
    transition: .3s
    &.input-reset-btn
      width: 50%
      margin: 30px auto 0
    &:hover
      color: #fff
      background-color: #999
      border: 1px solid #999
      box-shadow: 0 2px 5px #999
      transform: translateY(0)
      opacity: .5  

.notice
  color: fw.$blue-deep

// form.org-form
.form
  @media print
    .input-wrapper
      display: none

.form
  @media print
    .privacy-policy.non-print
      display: none
    .send-buttons.non-print
      display: none
    .input-reset-btn.non-print
      display: none

.form
  +max(md)
    .input-wrapper
      .with-note-container
        > label 
          > .note  
            top: -1.5rem
.form
  .input-wrapper
    > div
        label
          .error-msg
            top: 0
            left: 4.25rem
          