main
  display: grid
  place-content: center
  position: fixed
  top: 0
  right: -100%
  width: 100vw
  height: 100vh
  background-color: #fff
  transition: .7s
  opacity: .8
  z-index: 200
  &.active 
    right: 0