div.modal
  display: grid
  place-content: center
  position: fixed
  top: 0
  right: -105%
  width: 100vw
  height: 100vh
  color: #fff
  background-color: #333
  transition: .7s
  opacity: .8
  z-index: 200
  &.active 
    right: 0