@use "./forwards" as fw
@use './media-query' as *

.container
  position: relative
  padding: 100px 10% 60px
  background: url(/src/images/bg.png) repeat
.container
  // 500px以上だったらこの設定
  +min(md)
    grid-template-columns: 2fr 1fr
.container
  // 900px以上だったらこの設定
  +min(lg)
    grid-template-columns: 3fr 1fr
.container
  // 1200px以上だったらこの設定
  +min(xl)
    grid-template-columns: 4fr 1fr
.container
  +max(md)
    padding: 60px 10% 60px

.frame.amulet
  +fw.background-image("/src/images/omamori-top.jpg", $size: cover, $position: center)
  position: relative
  width: 100vw
  height: 63vh
  h1
    +fw.positionAbsoluteCTL($left: ture)
    top: 55%
    padding: 25px 120px
    font-size: 1.85rem
    font-weight: 300
    letter-spacing: .3em
    color: #fff
    border: 1px solid #fff

h3
  position: relative
  width: 100%
  text-align: center
  font-size: 1.75rem
  line-height: 1
  letter-spacing: .1em
  &::before, &::after
    +fw.positionAbsoluteCTL($top: true)
    content: ""
    width: calc(50% - 190px)
    height: 1px
    background-color: #333 
  &::before
    left: 0
  &::after
    right: 0
.to-page-top 
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  bottom: 50px
  right: 82px
  width: 45px
  aspect-ratio: 1
  background: rgba(0, 0, 0, .5)
  border-radius: 50%
  z-index: 1
.page-top-arrow 
  width: 20px
  aspect-ratio: 1
  border-top: 2px solid #fff
  border-right: 2px solid #fff
  transform: translateY(20%) rotate(-45deg) 
+min(xl)
  .to-page-top 
    right: 200px
+max(md)
  .to-page-top 
    bottom: 30px
    right: 40px