@use "./forwards" as fw

.container
  position: relative
  padding: 0 10%

.container
  // 500px以上だったらこの設定
  +fw.media(md)
    grid-template-columns: 2fr 1fr
.container
  // 900px以上だったらこの設定
  +fw.media(lg)
    grid-template-columns: 3fr 1fr
.container
  // 12￥00px以上だったらこの設定
  +fw.media(xl)
    grid-template-columns: 4fr 1fr